:root {
    font-family: 'Roboto', sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

/* GLOBALES */
body {
    margin: 0;
    background-color: #e1e1e1;
}
a {
    text-decoration: none;
}
a, p, label {
    font-size: 1.6rem;
}
h2 {
    font-size: 2.8rem;
    text-align: center;
}
h3 {
    font-size: 2.1rem;
    text-align: center;
}
h4 {
    font-size: 1.8rem;
    text-align: center;
}
input {
    border: none;
    border-bottom: 1px solid #000;
    height: 30px;
}
textarea {
    height: 100px;
    resize: none;
}
/* UTILS */

.text-center {
    text-align: center;
}
.seccion {
    margin: 4rem 10rem;
}
.btn-primary {
    background-color: #000;
    color:#fff;
    border: 1rem;
    font-weight: bolder;
    height: 30px;
    width: 120px;
    border-radius: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.btn-primary:hover {
    transform: scale(1.05);
    transition: ease-in 0.2s;
}
.cuatro-columnas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.tres-columnas {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    justify-items: center;
}
.dos-columnas {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    align-items: center;
    justify-items: center;
}
.sombra {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    height: -webkit-fill-available;
}
.imagen-columna {
    background-image: url(../img/utils/example-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    border-radius: 2rem;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}
.check-list {
    display: flex;
    flex-direction: column;
}
.check {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.casa-imagen-stock {
    border-radius: 1rem;
    object-fit: cover;
    width: 350px;
    height: 350px;
}
.casa-info-stock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.casa-info-stock h4 {
    margin: 0.4rem;
}
.dark-option {
    background-color: rgb(68, 68, 68);
}
.hidden {
    display: none;
}
/* MENU */
.navigation {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
}
.nav-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.nav-logo {
    width: 100px;
    margin: 1rem;
}
.nav-link {
    padding: 1rem;
    color: white;
}
.nav-link:hover {
    background-color: white;
    color: black;
    transition: ease-in 0.4s;
}
.nav-perfil-img {
    border-radius: 50%;
    width: 50px;
}

/* BANNER */
.banner {
    background-image: url(../img/utils/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;

    display: grid;
    grid-template-rows: 20% 80%;
    justify-items: center;
}

.banner-text {
    text-align: center;
    color: white;
}
.btn-banner {
    border: 2px solid white;
    border-radius: 0.8rem;
    color: white;
    background-color: transparent;
    height: 40px;
    width: 120px;
    font-size: 1.6rem;
    font-weight: bolder;
}
#banner-titulo {
    font-size: 3.2rem;
}
/* NOSOTROS */ 
#nosotros .columna , #casa-info .columna  {
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
/* CASA */
#casa-info, #nosotros {
    align-items: start;
}
.galeria {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
.casa-imagen {
    border-radius: 2rem;
    object-fit: cover;
    width: 100%;
    height: 500px;
}
.casa-imagen-galeria {
    width: 100%;
    margin-top: 1rem;
    border-radius: 1rem;
}
.casa-fotos {
    display: flex;
    flex-direction: column;
}
/* FORM */
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.input-box {
    display: flex;
    flex-direction: column;
}
/* RESEÑA */
.testimonio  {
    width: 90%;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}
.user-pic-nombre {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.footer {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    border-top: 2px solid black;
    margin-bottom: 1rem;
}
.logo-redes {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.navigation-footer {

}
.nav-options-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.nav-link-footer {
    color: #000;
    padding: 1rem;
}
.nav-link-footer:hover {
    background-color: #000;
    color: white;
    transition: ease-in 0.4s;
}
.redes-sociales {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
@media (max-width: 1440px)  {
    .cuatro-columnas {
        justify-content: center;
    }
}   
@media (max-width: 1180px) {
    .tres-columnas {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .dos-columnas {
        display: flex;
        flex-direction: column;
    }
    .imagen-columna {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 790px) {
    .tres-columnas {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .casa-imagen {
        height: 300px;
    }
    .footer {
        grid-template-columns: repeat(1,1fr);
    }
}

@media (max-width: 512px)  {
    .imagen-columna {
        width: 250px;
        height: 250px;
    }
    .casa-imagen-stock {
        width: 250px;
        height: 250px;
    }
    .seccion {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media (max-width: 425px) {
    .navigation {
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        background-color: #000;
        z-index: 9px;
    }
    .nav-options {
        width: 100%;
        flex-direction: column;
        background-color: #000;
    }
    .nav-log {
        margin: 1rem 0 0 0;
    }
    .banner-text {
        z-index: 0;
    }
}